#container-forms{
  padding: 1em;
}

#wrapper-forms{
  display: block;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 0 0 20px 0 rgba(72,94,116,0.6);
  border-radius: 5px; */
}

#container-forms form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#container-forms form > *{
  min-width: 0;
  padding: 20px;
}

#container-forms form label{
  display: block;
}

#container-forms form p{
  min-width: 0;
  margin:0;
}

#container-forms form .full{
  grid-column: 1/3;
}

#container-forms form input, #container-forms form textarea, .forms-select select{
  width:90%;
  padding:12px;
  border: 1px solid #c9e6ff;
  font-size: 16px;
  margin-top: 5px;
}

#container-forms form button{
  width:100%;
  padding:1em;
  border: 1px solid #c9e6ff;
  margin-left:auto;
  margin-right:auto;
}

#container-forms form button{
  background: #c9e6ff;
  border:0;
  text-transform: uppercase;
  border-radius: 5;
  font-size: 18px;
}

#container-forms form button:hover, #container-forms form button:focus{
  background: #92bde7;
  color: white;
  outline:0;
  transition: background-color 1s ease-out;
}

#radioBox-type-forms, #radioBox-service-forms{
  text-align: center;
}

#alertMsg-forms{
  padding: 10px;
  text-align: center;
  color: white;
  margin-bottom: 10px;
  background: #79c879;
  display: none;
}

#header-forms{
  text-align: center;
  padding-top: 20px;
  margin-top: 1em;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.textField {
  margin-left: auto;
  margin-right: auto;
  width: 200px,
}

.forms-select select {
  width: 100%
}
