.button-create{
  background: white;
  color: #4d4d4d;
  grid-area: reply;
}

.button-create:hover{
  color: #ffcc00;
}

.board{
  padding-right: 20px;
  padding-left: 20px;
  max-height: 20em;
  display: block;
  overflow-y: auto;
  border-bottom: 0.1em solid rgba(230, 230, 230, 0.5);
  border-top: 0.1em solid rgba(230, 230, 230, 0.5);
}

#reply-icon{
  width: 1.1em;
  height: 1.1em;
  grid-area: reply !important;
}

#comment-title{
  font-size: 25px;
  color: #404040;
  border-bottom: 1px solid #404040;
  padding-bottom: 0.1em;
}

#forum-icon{
  color:#404040;
  margin-right: 0.5em;
  height: 1em !important;
  width: 1em !important;
}

.commentboard-header{
  height: 2em;
  margin-top: 2em;
}