.commentContainer{
  height: 7em;
  box-shadow: 0 0 3px 0 rgba(72,94,116,0.6);
  border-radius: 2px;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.commentWrapper{
  margin-bottom: 3em;
}

.button-danger{
  float: right;
  background: white;
  border: 2px solid #4d4d4d;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #4d4d4d;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  margin-right: 5px;
  width: 85px;
  border-radius: 3px;
  margin-bottom: 0.3em;
}

.button-danger:hover{
  background: coral;
  color: white;
  border: 2px solid white;
}

.button-primary{
  float: right;
  background: white;
  border: 2px solid #4d4d4d;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #4d4d4d;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 60px;
  font-size: 16px;
  margin-right: 5px;
  border-radius: 3px;
  margin-bottom: 0.3em;
}

.button-primary:hover{
  background: #99ff66;
  color: white;
  border: 2px solid white;
}

.commentText{
  flex: 1 1 auto;
  padding: 12px;
  width: 100%;
  max-height: 6em;
  overflow: auto;
  margin-bottom: 0.5em;
  cursor: default;
}

.commentContainer textarea{
  width: 95%;
  margin-left: 5px;
  margin-right: auto;
  border: 1px solid #c9e6ff;
}

.button-success{
  float: right;
  background: white;
  border: 2px solid #4d4d4d;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  color: #4d4d4d;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 60px;
  font-size: 16px;
  margin-right: 5px;
  border-radius: 3px;
  margin-bottom: 0.3em;
}

.button-success:hover{
  background: #99ddff;
  color: white;
  border: 2px solid white;
}

.button-accept{
  float: left;
  background: white;
  border: 2px solid #4d4d4d;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  color: #4d4d4d;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 90px;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 3px;
  margin-bottom: 0.3em;
}

.button-accept:hover{
  background: #99ddff;
  color: white;
  border: 2px solid white;
}

.button-accepted{
  float: left;
  background: white;
  border: 2px solid #ff1a1a;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ff1a1a;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 120px;
  font-size: 18px;
  margin-left: 5px;
  border-radius: 3px;
  margin-bottom: 0.3em;
}

.button-accepted:hover{
  cursor: pointer;
}

.authorInfo{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  float: right;
  font-style: italic;
}

