.landing-board-wrapper{
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;    
}

.landing-board-content{
    min-height: 10em;
}

#landing-board-nav{
    width: 180px;
    grid-area: nav;
    margin-left: auto;
    margin-right: auto;
}

#landing-board-time{
    width: 180px;
    grid-area: time;
    margin-left: auto;
    margin-right: auto;
}

#landing-board-search{
    width: 100%;
    text-align: center;
    grid-area: search;
}

#landing-board-nav button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#landing-board-create{
    grid-area: create;
}

#landing-board-searchArea{
    box-shadow: 0 0px 1px 0px rgba(72,94,100,0.3); 
    display: grid;
    grid-template-areas: 
    "nav"
    "search"
    "time"
    "create";
}

#landing-board-search{
    border: 0.8px solid rgba(72,94,100,0.3);
    border-left: none;
    border-right: none;
}

@media (min-width: 750px) {
    #landing-board-searchArea {
        grid-template-columns: 1fr 4fr 1fr 1fr;
        grid-template-areas: 
            "nav search time create";
        grid-auto-flow: column;
    }
    #landing-board-search{
        border: none;
    }
}








