.card-wrapper{
  height: 170px;
  border-radius: 1px;
  box-shadow: 0 0 8px 0 rgba(72,94,116,0.3);
  cursor: pointer;
}

.card-wrapper:hover{
  box-shadow: 0 0 8px 0 rgba(72,94,116,0.8);
}

.card-left{
  float: left;
  width: 40%;
  height: 100%;
  display: block;
  background: #29293d;
}

.icon-wrapper{
  float: none;
  width: 2.0em;
  margin-top: 42%;
  margin-right: auto !important;
  margin-left: auto !important;
}

.bigIcon{
  color: white !important;
  width: 1.5em !important;
  height: 1.5em !important;
}

.card-right{
  display: block;
  position: relative;
  float: right;
  width: 60%;
  height: 100%;
  padding: 0.3em;
}

.card-wrapper:hover #card-service{
  border: 2px solid #ff1a75;
  color: #ff1a75
}

.card-wrapper:hover #card-comments, .card-wrapper:hover #card-icon{
  color: #ff1a75 !important;
}


#card-modalBox{
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  animation-name: modalOpen;
  animation-duration: 0.5s;
}

.card-modalContent{
  background: white;
  max-width: 700px;
  margin: 3% auto;
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
  width: 70%;
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.6);
  border-radius: 5px;
  z-index: 2;
  height: 52em;
  /*box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0, 0.2),
              0 7px 20px 0 rgba(0, 0, 0, 0, 0.15);*/
}

.card-closeButton{
  color: #ccc;
  float: right;
  font-size: 30px;
  padding-right: 1em;
}

.card-closeButton:hover, .closeButton:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#card-msg{
  display: flex;
  height: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  min-width: 1%;
}

#card-text{
  display: inline-block;
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 100%;  
}

#card-service{
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  font-size: 11px;
  padding: 0px 4px 0.5px 4px;
  border: 2px solid white;
  color: white;
  border-radius: 8px;
}

@keyframes modalOpen {
  from{opacity: 0 }
  to{opacity: 1}
}

#card-smallInfo{
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.2em 0.4em;
}

#card-comments{
  position: relative;
  float: left;
  color: #cccccc;
  margin-right: 0.5em;
}

#card-icon{
  color: #cccccc;
}

@media (min-width: 600px) {  
  #card-msg{
    width: 90%;
    height: 90%;
    font-size: 20px;
    padding: 5px;  
  }
  #card-service{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-size: 14px;
    padding: 2px 8px 3px 8px;
    border-radius: 10px;
  }
  .bigIcon{
    width: 2em !important;
    height: 2em !important;
  }
  .icon-wrapper{
    width: 2.5em;
    margin-top: 30%;
  }
}

#card-print-icon{
  color: #00e6e6 !important;
}

#card-food-icon{
  color: #efb509 !important;
}

#card-carpool-icon{
  color: #ff6666 !important;
}

#card-notes-icon{
  color: #669999 !important;
}

#card-events-icon{
  color: #cc0044 !important;
}


#card-nothing-icon{
  color: #d9d9d9 !important;
}

.offer{
  background: #1a2930;
}

.request{
  background: #f8f4ec;
}

.request > #card-service{
  border: 2px solid #8c8c8c;
  color: #737373;
}

