.review-Container{
    width: 100%;
    box-shadow: 0 0 2px 0 rgba(72,94,116,0.4);
    display: inline-block;
    margin-bottom: 0.4em;
}

.review-Left{
    width: 20%;
    float: left;
    height: 100%;
    text-align: center;
    border-left: 2px solid #333333;
    color: #595959 !important;
    padding: 10px;
}

.review-Rating{
    font-size: 3em;
    font-weight: bold;
}

.review-Right{
    width: 80%;
    float: left;
    padding: 10px;
    display: block;
}

#star{
    padding: 0 !important;
    margin: 0 !important;
}

.review-AdminControls{
    float: right;
    width: 3em;
}

.review-msg{
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    height: 4em;
    overflow-y: auto;
}

.review-delete{
    float: right;
}


