#board-container{
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-gap: 20px;
  grid-column: auto;
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
