.signUp-form input, .signIn-form textarea, .signIn-form select{
    width:100%;
    padding:12px;
    border: 1px solid #c9e6ff;
    font-size: 18px;
    margin-top: 10px;
}
  
.signUp-wrapper{
    width: 35em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding: 35px;
    border-radius: 1px;
    box-shadow: 0 0 8px 0 rgba(72,94,116,0.3);
}

.signUp-wrapper h1{
    padding-left: 15px;
    margin-bottom: 25px;
}
  
  
.signUp-form button{
    margin-top: 10px;
    background-color: #e6e6e6;
    border: none;
    padding: 5px 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
  
.signUp-form button:hover{
    color: red !important;
    border: none !important;
}

.signUp-link{
    color: red !important;
}

.signUp-link:hover{
    text-decoration: underline;
}